.navbar{
    height: 100px;
    background-color:darkslategray;
    .navbar-brand{
        font-family: 'Bebas Neue', sans-serif;
        color: whitesmoke;
        letter-spacing: 3px;
        font-size: 2em;
    }
}